@model MonitorMapModel
@{
    ViewBag.Title = Model.System.Name + "地图";
    Layout = "~/Views/Shared/_LayoutMap.cshtml";
}

<style type="text/css">
    fieldset {
        margin: 10px;
        padding: 10px;
        width: 400px;
    }
</style>
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Upload", "MonitorMap", new { id = Model.System.Id }, FormMethod.Post, new { enctype = "multipart/form-data" })) {
    int i = -1;
    foreach (var map in Model.Maps) {
    <fieldset>
        <legend>@Model.MapNames[++i]</legend>
        <table>
            <tr>
                <td>地图图片：</td>
                <td>
                    @if (map.Id > 0) {
                        <a href="~/Images/@map.Name" target="_blank">@map.DisplayName</a>
                    }
                    else {
                        Write(map.DisplayName);
                    }
                </td>
            </tr>
            <tr>
                <td>起点坐标：</td>
                <td>
                    @string.Format("({0}, {1})", map.StartX, map.StartY)
                    @if (map.Id > 0) {
                        <button style="margin-left:20px;" map_id="@map.Id">设置...</button>
                    }
                </td>
            </tr>
            <tr>
                <td>更换地图：</td>
                <td>
                    <input type="file" name="@((MapScale)map.Scale)Map" /></td>
            </tr>
        </table>
    </fieldset>
    }
    <div style="padding-left: 200px; padding-top: 20px;">
        <button type="submit">保存</button>
    </div>
}

<script type="text/javascript">
    $(function () {
        $("button[map_id]").each(function () {
            $(this).click(function () {
                location.href = "@Url.Action("StartPoint")" + "/" + $(this).attr("map_id");
                return false;
            });
        });
    });
</script>
