<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/themes/smoothness/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryajax")
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div>
            @Html.ActionLink("Report", "Index", "Report")
            @Html.ActionLink("Monitor Point", "Index", "MonitorPoint")
            @Html.ActionLink("Monitor Map", "Index", "MonitorMap")
        </div>
        @RenderBody()
    </div>
</body>
</html>
