@{
    ViewBag.Title = "Index";
}

<h2>人员定位查询</h2>
<ul>
	<li>@Html.ActionLink("人员综合信息", "PeopleOverview")</li>
	<li>@Html.ActionLink("人员查询", "PeopleSearch")</li>
	<li>@Html.ActionLink("位置查询", "PositionSearch")</li>
	<li>@Html.ActionLink("人数汇总", "PeopleCount")</li>
	<li>@Html.ActionLink("报警信息查询", "AlarmSearch")</li>
</ul>
